name: Playwright Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  playwright:
    runs-on: ubuntu-latest

    container:
      image: mcr.microsoft.com/playwright/python:v1.55.0-noble

    steps:
      - uses: actions/checkout@v5

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
          python -m playwright install

      - name: Run tests
        run: python -m pytest
